.App {
  text-align: center;
}

.App-header {
  background-color: #2a3444 ;
  height: 30px;
  padding: 40px;
  color: white;
}

.App-link {
  color: #668dcc;
}

.cont-img {
  max-height: 150px;
}

.iron-throne {
  max-height: 100px;
}
